<nav class="bg-gray-100 shadow-md">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <img class="h-10 w-30" src="assets/fylelogo.png" alt="Fyle Logo">
      </div>
      <div class="relative ml-3">
        <h1 class="text-grey-800 text-3xl font-extrabold font-montserrat ">Fyle Internship Challenge</h1>
      </div>
    </div>
  </div>
</nav>