<div class="h-screen flex justify-center items-center">
  <div class="w-80 flex flex-col justify-center items-center shadow-lg rounded-2xl bg-gray-400">
    <div class="header">
      <h1 class="text-center text-3xl font-montserrat m-10 font-bold">Github Profile</h1>
    </div>

    <div class="mx-5 flex flex-col justify-center items-center">
      <form #loginForm="ngForm">
        <div class=" form-group">
          <label class="text-2xl font-montserrat" for="username">Username</label>
          <input #name="ngModel" required class="text-2xl px-4 font-montserrat mt-3 rounded-xl form-control"
            [(ngModel)]="username" name="username" type="text" placeholder="Enter valid Username">
        </div>

        <div class="flex justify-center">
          <button (click)="onClick()"
            class="bg-pink-500 text-1xl rounded-2xl p-4 font-montserrat font-bold m-5 hover:bg-pink-600 transition-all duration-200 ease-in-out transform hover:scale-105"
            type="submit">Submit</button>
        </div>
      </form>
    </div>
    <p class="text-xl font-montserrat" *ngIf="!userFound"> User Not Found</p>
  </div>
</div>