<div class=" flex justify-center items-center">
  <div class="w-80 mt-36 flex flex-col justify-center items-center shadow-lg rounded-2xl bg-gray-400">
    <div class="header">
      <h1 class="text-center text-3xl font-montserrat m-10 font-bold">Github Profile</h1>
    </div>

    <div class="mx-5 flex flex-col justify-center items-center">
      <form #loginForm="ngForm">
        <div class=" form-group">
          <label class="text-2xl font-montserrat" for="username">Username</label>
          <input #name="ngModel" required
            class="text-2xl px-4 font-montserrat mt-3 py-1 rounded-xl form-control focus:border-cyan-400"
            [(ngModel)]="username" name="username" type="text" placeholder="Enter valid Username">
        </div>

        <div class="flex justify-center">
          <button (click)="onClick()"
            class="  bg-gradient-to-r from-primary-pink to-primary-yellow text-1xl text-white rounded-2xl p-4 font-montserrat  m-5 hover: transition-all duration-200 ease-in-out transform hover:scale-105"
            type="submit">Submit</button>
        </div>
      </form>
    </div>
    <p class="text-xl pb-2 font-montserrat" *ngIf="!userFound"> User Not Found</p>
    <p class="text-xl pb-2 font-montserrat" *ngIf="userInput"> Please enter username</p>

  </div>
</div>